
@{
    ViewData["Title"] = "OnaylananBloglar";
    Layout = "~/Views/Yonetim/Index.cshtml";
}

<div class="row">

    <div class="col-md-12">

        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="#"><i class="glyphicon glyphicon-home"></i> Anasayfa</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> Bloglar</a></li>
            <li class="active"><span><i class="glyphicon glyphicon-calendar"></i> Onaylanan Blog List</span></li>
        </ol>
    </div>
</div>

<div class="panel-body">
    <div class="content-row">
        <div class="bs-example" ng-app="OnaylananBlogList">
            <table class="table table-hover" ng-controller="OnaylananBlogList">
                <thead>
                    <tr>
                        <th>Resim</th>
                        <th>Konu Adı</th>
                        <th>Başlık</th>
                        <th>Alt Başlık</th>
                        <th>İçerik</th>
                        <th>Tarih</th>
                        <th>Kullanıcı Adı</th>
                        <th>Kazandığı Para</th>
                        <th>İncele</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in onaylanBlog">
                        <td><img src="~/Belgeler/Image/{{x.Resim}}" class="img-circle" width="50" height="50" /></td>
                        <td>{{x.KonuAd}}</td>
                        <td>{{x.Baslik}}</td>
                        <td>{{x.AltBaslik}}</td>
                        <td>{{x.Icerik}}</td>
                        <td>{{x.Tarih}}</td>
                        <td>{{x.KullaniciAdi}}</td>
                        <td>{{x.KazandigiPara}}</td>
                        <td><a href="/Yonetim/OnaylananBlogIncele/{{x.Id}}" class="btn btn-primary">İncele</a> </td>
                        <td><input type="button" name="{{x.Id}}" class="btn btn-danger BlogOnaySil" id="BlogOnaySil" value="Sil" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

