<div class="modal fade" id="yapilanBagiss" tabindex="-1" role="dialog" aria-labelledby="yapilanBagiss" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" >
        <div class="modal-content text-center" ng-controller="coinGenel">
            <div class="modal-header">
                <h5 class="modal-title align-center" id="exampleModalLongTitle">Bağış Detay</h5>

            </div>
            <div class="modal-body align-center">
                <label>Toplam Bağış Sayısı</label><br />
                <label style="color:green">{{coin.Sayi}}</label>

            </div>  
            <div class="modal-body align-center">
                <label>Toplam Bağış Tutarı</label><br />
                 <label style="color:green">{{coin.Toplam}}</label>

            </div>
           
        </div>
    </div>
</div>