
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title align-center"  id="exampleModalLongTitle">Kullanıcı GİRİŞ</h5>
           
            </div>
            <div class="modal-body align-center">
                <label>Kullanıcı Adı</label>
                <input class="align-center" type="text" placeholder="Kullanıcı Adı" id="txtKullaniciAdi" />
                <label>Şifre</label>
                <input class="align-center" type="text" placeholder="Şifre" id="txtSifre" />
            </div>
            <div class="modal-footer align-center">
                <button type="button" id="btnKullaniciGiris" class="btn btn-primary">Oturum Aç</button>
            </div>
        </div>
    </div>
</div>