<div class="modal fade" id="BagisForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" >
        <div class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title align-center" id="exampleModalLongTitle">BAĞIŞ YAP</h5>

            </div>
            <div class="modal-body align-center">
                <label>Bağış Tutarı</label>
                <input class="align-center" type="number" placeholder="Bağış Tutarı" id="txtBagisTutar" />
            </div> 
           
            <div class="modal-footer align-center">
                <button type="button" id="btnBagisYolla" class="btn btn-primary">Bağışı Onayla</button>
            </div>
        </div>
    </div>
</div>