
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Yetersiz Yetki</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="~/Belgeler/Back/dist/css/site.min.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">

    <script src="~/Belgeler/Back/dist/js/site.min.js"></script>
    <style>

        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #303641;
            color: #C1C3C6
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="form-signin">
            <h3 class="form-signin-heading">Yetersiz Yetki Lütfen Oturumunuzu Kontrol Edin</h3>
            <a href="/Home/Index" class="btn btn-danger align-center">Anasayfa</a>
        </div>
    </div>
    <div class="clearfix"></div>
    <br><br>

</body>
</html>
